@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #363636;
  background-color: #ffffff;
  font-family: "Tajawal", sans-serif!important;
}
.font-tajwal{
  font-family: "Tajawal", sans-serif!important;
}
.hero-bg{
  background-image: url("/image/dokanibhai-cover.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 760px;
}

.scrolled {
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.active-svg{
  filter: invert(32%) sepia(100%) saturate(1263%) hue-rotate(153deg) brightness(97%) contrast(105%);
}
.inactive-svg{
  filter: invert(34%) sepia(9%) saturate(6%) hue-rotate(314deg) brightness(94%) contrast(94%);
}
.no-scroll {
  border-radius: 20px;
  margin-top: 20px;
}

.animation {
  height:100px;
  overflow:hidden;
}

.animation > div > div {
  height:8rem;
  display:inline-block;
}

.animation div:first-child {
  animation-name: text-animation;
  animation-duration: 12s; /* Set the duration of the animation */
  animation-iteration-count: infinite; /* Optionally repeat the animation */
}

.first div {
  color:#009999;
}
.second div {
  color:#0076bf;
}
.third div {
  color:#4611a9;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -8rem;}
  30% {margin-top: -8rem;}
  40% {margin-top: -16rem;}
  60% {margin-top: -16rem;}
  70% {margin-top: -8rem;}
  80% {margin-top: -8rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
